body {
    padding-top: 40px;
}

#main {
    padding: 20px 0;
}

footer {
    text-align: center;

    p {
        &.copyright {
            font-size: 11px;
            font-family: sans-serif;
        }
    }
}
