{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="hero-unit" id="description">
        <h1>{% trans "Minimize Static Files!" %}</h1>
        <p>
            {% blocktrans %}
            <strong>Django Minimizer</strong> compresses static files and provides html5 layout that is ready for extending to your project templates. It uses YUI compressor for compressing static files, and it has included Javascript files like modernizr, jquery ({{ MINIMIZER_JQUERY_VERSION }}), etc. Base template created with html5boilerplate.
            {% endblocktrans %}
        </p>
    </div>

    <div class="row">
        <div class="span16">
            <p>
                {% blocktrans %}
                This application also supports CoffeScript and LessCSS optionally. If you prefer to use CoffeeScript or LessCSS, you'll need to Node for compiling static files to .js or .css. See this page's html code to see how minimizer application is working.
                {% endblocktrans %}
            </p>
        </div>
    </div>
{% endblock %}
